@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    cursor: pointer;
}

input,
button {
    outline: none;
}

// HEADER AND HEADER'S ELEMENTS STYLES

header {
    width: 100%;

    background-color: #212121;

    text-align: center;

    .header-top,
    .header-middle,
    .header-footer {
        display: flex;
    }

    .header-top,
    .header-middle,
    hr {
        display: flex;

        width: 73.5%;

        margin: 0 auto;
    }

    .header-top {
        justify-content: flex-end;

        align-items: center;

        line-height: 3vw;

        input[type='search'] {
            visibility: hidden;
            ;

            padding: 0.4vw;

            background-color: #1c1c1c;

            border: none;
            border-radius: 0.2vw;

            color: #fff;

            transition: width .5s ease,
                visibility .5s ease;

            &.hidden {
                width: 0;

                transition-delay: .5s;
            }

            &.shown,
            &:focus {
                visibility: visible;

                width: 50vw;
            }
        }

        .element {
            display: flex;
            align-items: center;

            margin: 0 1.1% 0 1.1%;

            svg {
                width: 0.9vw;
                height: 0.9vw;

                margin-right: 0.35vw;

                fill: #ff3448;

                transition: fill .2s ease-in-out;
            }

            a {
                display: flex;

                font-size: .9vw;
                font-weight: 400;

                color: #ff3448;

                text-decoration: none;

                align-items: center;

                transition: color .2s ease-in-out;
            }
        }

        label {
            display: flex;

            margin: 0 1.8% 0 1.4%;

            cursor: pointer;

            svg#header-search {
                width: 1.6vw;
                height: 1.6vw;

                fill: #fff;
            }
        }
    }

    .header-middle {
        padding: 1% 0;

        img {
            position: unset;

            width: 16%;
            max-height: 3.5vw;
        }

        .information {
            width: 57%;

            svg {
                width: 1.3vw;
                height: 1.3vw;

                margin-right: 2.3%;

                fill: #ff3448;
            }

            .inf-top {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                padding-right: 9%;

                letter-spacing: .04vw;
                font-size: 1.3vw;
                color: #fff;
            }

            .inf-bottom {
                display: flex;
                justify-content: flex-end;

                margin-top: 2%;
                padding-right: 9%;

                letter-spacing: .03vw;
                font-size: .9vw;
                color: #fff;
            }
        }

        .additional-elements {
            display: flex;
            justify-content: space-between;

            width: 28%;

            .element {
                width: 30%;

                margin: 0 auto;

                svg {
                    display: block;
                    width: 2vw;
                    height: 2vw;

                    margin: 0 auto;

                    fill: #ff3448;

                    transition: fill .2s ease-in-out;
                }

                span {

                    &.name-block {
                        display: block;

                        padding-top: .4vw;
                    }
                }

                a {
                    color: #fff;

                    text-decoration: none;
                }
            }
        }
    }

    .header-bottom {
        width: 100%;

        line-height: 3.25vw;

        background-color: #030303;

        a {
            margin: 0 4%;

            text-decoration: none;

            background: linear-gradient(270deg, #fff, #fff);

            background-size: 50vw 20vw;
            background-position: 0vw;

            background-clip: text;
            -o-background-clip: text;
            -ms-background-clip: text;
            -moz-background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            transition: all .2s ease-in-out;
        }
    }
}

// MAIN AND MAIN'S ELEMENTS STYLES

main {
    .banner {
        display: flex;

        width: 100%;

        img {
            width: 100%;

            position: unset;
        }
    }

    .items {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        width: 100%;

        a {
            text-decoration: none
        }

        .item {
            display: flex;

            height: 25.2vw;
            max-height: 25.2vw;

            overflow: hidden;

            transition: background-color .2s ease-in-out;

            h1 {
                font-weight: 700;

                padding-bottom: .25vw;

                letter-spacing: .215vw;

                text-transform: uppercase;

                color: #fff;
            }

            h2 {
                font-size: 1.3vw;
                font-weight: 400;

                color: #979696;

                transition: color .2s ease-in-out;
            }

            img {
                position: unset;

                max-height: 23vw;

                margin-top: auto;

                transition: transform .2s ease-in-out;
            }

            &.white {
                background-color: #303030;
            }

            &.black {
                background-color: #1c1c1c;
            }

            .item-inner {
                width: 70%;
                padding: 10vw 0 10vw 3vw;
            }
        }
    }

    .featured-products {

        text-align: center;

        background-color: #282828;

        h1 {
            padding: 4.7vw 0 1.2vw 0;

            letter-spacing: .1vw;

            font-size: 2.2vw;
            font-weight: 700;

            text-transform: uppercase;

            color: #fff;
        }

        hr {
            position: relative;

            left: 50%;
            transform: translateX(-50%);

            width: 10.5vw;

            border: none;
            border-top: 0.4vw solid red;
        }

        .items-2 {
            padding: 4vw 0 0 0;

            .wrapper {
                display: flex;

                width: 90%;

                margin: 0 auto;
                padding-bottom: 7.5vw;

                .fp-item-wrapper {
                    position: relative;

                    width: 17%;

                    margin: 0 auto;

                    .fp-item {
                        position: relative;

                        width: 100%;

                        padding: 1em;

                        visibility: visible;
                        
                        opacity: 1;

                        transform: rotateY(0deg);

                        background-color: #363636;

                        border: solid .2vw #363636;
                        border-radius: .2vw;

                        user-select: none;

                        cursor: pointer;
                        
                        transition: transform .2s ease-in-out,
                                    opacity .2s ease-in-out,
                                    visibility .2s ease-in-out .1s;

                        img {
                            position: unset;

                            width: 100%;
                        }

                        h1 {
                            padding: 0;
                            margin: 1vw 0 0 0;

                            font-size: 1.5vw;

                            color: #fff;
                        }

                        h2 {
                            margin-top: 1.6vw;

                            font-size: 1.03vw;

                            color: #ff3448;

                            text-transform: uppercase;
                        }

                        .rating {
                            padding: .5vw 0 1.1vw 0;

                            span {
                                color: #1c1c1c;

                                &.checked {
                                    color: #ff3448;
                                }
                            }
                        }

                        span.choiced {
                            position: absolute;
                            top: .5vw;
                            right: .5vw;

                            svg {
                                width: 1.5vw;
                                height: 1.5vw;

                                fill: #ff3448;
                            }
                        }

                        &.selected {
                            position: absolute;
                            top: 0;
                            left: 0;

                            visibility: hidden;

                            opacity: 0;

                            transform: rotateY(-180deg);

                            border: solid .2vw #ff3448;

                            transition: opacity .2s ease-in-out,
                                        transform .2s ease-in-out,
                                        visibility .2s ease-in-out .1s;

                            &.shown {
                                visibility: visible;

                                opacity: 1;

                                transform: rotateY(0deg);
                            }
                        }

                        &.hidden {
                            visibility: hidden;

                            opacity: 0;

                            transform: rotateY(-180deg);
                        }
                    }
                }
            }
        }
    }

    .special-offers {
        position: relative;

        width: 100%;

        overflow: hidden;

        z-index: 0;

        img {
            position: absolute;
            left: 0;
            top: 0;

            width: 100%;

            z-index: -1;
        }

        .wrapper {
            display: flex;

            justify-content: space-between;

            width: 100%;

            padding: 9vw 10vw 9vw 10vw;

            background-color: rgba($color: #000000, $alpha: 0.6);

            .item {
                background-color: rgba($color: #fff, $alpha: 0);

                h1 {
                    padding: 0;

                    font-size: 5vw;

                    letter-spacing: .3vw;
                }

                h2 {
                    font-size: 2.5vw;

                    text-transform: uppercase;

                    color: #fff;
                }

                h3 {
                    margin-top: 1vw;

                    font-size: 1vw;
                    font-weight: 400;

                    color: #fff;
                }

                button {
                    margin-top: 1.6vw;
                    padding: .4vw 2.7vw;

                    font-size: 1.35vw;
                    font-weight: 400;
                    color: #fff;

                    background-color: #9c1c28;

                    text-transform: uppercase;

                    border: none;
                    border-radius: 10vw;

                    cursor: pointer;
                }
            }
        }
    }
}

// FOOTER AND FOOTER'S ELEMENTS STYLES

footer {
    width: 100%;

    background-color: #000;

    .wrapper {
        display: flex;

        justify-content: space-between;

        padding: 5vw 8.7vw;

        h1 {
            font-size: 1.5vw;

            letter-spacing: .125vw;

            text-transform: uppercase;

            color: #fff;
        }

        hr {
            width: 50%;

            margin: 1vw 0;

            border: none;
            border-top: .3vw solid #9c1c28;

            transition: width .2s ease-in-out;
        }

        a {
            display: block;

            margin: 1.07vw 0;

            font-weight: 900;

            text-decoration: none;

            color: #9c1c28;

            transition: color .2s ease-in-out;
        }

        .newsletter {
            width: 29.5%;

            hr {
                width: 25%
            }

            p {
                color: #fff
            }

            input[type="email"] {
                display: block;

                width: 90%;

                padding: .7vw;
                margin-top: 1vw;

                color: #fff;

                border: none;
                border-radius: .1vw;

                background-color: #282828;
            }

            button {
                display: block;

                padding: 0.5vw 1.8vw;
                margin-top: 2.2vw;

                letter-spacing: .1vw;

                text-transform: uppercase;

                font-size: 1.2vw;
                color: #fff;

                background-color: #9c1c28;

                border: none;
                border-radius: 10vw;

                cursor: pointer;
            }
        }
    }
}

// Hover styles

header {
    .header-top {
        .element:hover {
            a {
                color: #dc0016;
            }

            svg {
                fill: #dc0016;
            }
        }
    }

    .header-middle {
        .additional-elements {
            .element:hover {
                svg {
                    fill: #dc0016;
                }
            }
        }
    }

    .header-bottom {
        a:hover {
            background: linear-gradient(270deg, #ff3448, #fff);

            background-size: 50vw 20vw;
            background-position: 6vw;

            background-clip: text;
            -o-background-clip: text;
            -ms-background-clip: text;
            -moz-background-clip: text;
            -webkit-background-clip: text;

            -webkit-text-fill-color: transparent;
        }
    }
}

main {
    .items {
        .item:hover {
            &.white {
                background-color: #aa1927;
            }

            &.black {
                background-color: #8d1824;
            }

            h2 {
                color: #fff
            }

            img {
                transform: scale(1.1);
            }
        }
    }
}

footer {
    .quicklink {
        a:hover {
            color: #ff3448;
        }
    }

    .quicklink:hover {
        hr {
            width: 100%
        }
    }

    .newsletter:hover {
        hr {
            width: 100%
        }
    }
}